{% extends 'base.html' %}


{% block titulo %}
    Lista Departamento
{% endblock titulo %}


{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Lista Departamentos</h1>
            <form class="cell grid-x grid-margin-x" method="GET">{% csrf_token %}
                <div class="cell large-7">
                    <input type="text" id="kword" name="kword" placeholder="Buscar area">
                </div>
                <div class="cell large-2" >
                    <button class="submit success button">Buscar</button>
                </div>
            </form>
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                          <th width="200">Nombre de área</th>
                          <th width="150">Identificativo</th>
                          <th width="150">Acción</th>
                        </tr>
                      </thead>
                    <tbody>
                        {% for departamento in departamentos %}
                        <tr> 
                            <td>{{ departamento.name}}</td>
                            <td>{{ departamento.short_name}}</td>
                            <td>
                                <a class="button warning" href="{% url 'persona_app:lista_area' departamento.short_name %}">Ver empleados</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
    
    